.donate {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 22px 28px 37px 28px;
  background-color: #ffffff;

  @media (max-width: 800px) {
    padding: 36px 28px;
  }
}

.donate__title {
  font-size: 24px;
  font-weight: 500;
  color: #000000;
  line-height: normal;
  text-align: center;
  margin-bottom: 25px;

  @media (max-width: 800px) {
    font-size: 18px;
    margin-bottom: 56px;
    text-align: center;
  }
}

.donate__form {
  width: 100%;
  padding: 84px 50px 50px 50px;
  border: 2px solid #005695;
  border-radius: 20px;
  max-width: 442px;

  @media (max-width: 800px) {
    padding: 59px 36px 8px 36px;
  }
}

.donate__form_title {
  font-size: 24px;
  line-height: normal;
  font-weight: 500;
  color: #005695;
  display: flex;
  align-items: center;
  gap: 35px;
  margin-bottom: 60px;

  @media (max-width: 800px) {
    font-size: 20px;
    gap: 10px;

    svg {
      width: 43px;
    }
  }
}

.donate__form_group {
  display: flex;
  flex-direction: column;
}

.donate__input {
  padding: 14px 16px;
  font-size: 14px;
  color: #000000;
  line-height: normal;
  font-weight: 500;
  border: 2px solid #005695;
  border-radius: 15px;
  margin-bottom: 30px;
  width: 100%;

  @media (max-width: 800px) {
    padding: 6px;
    margin-bottom: 20px;
  }

  &::placeholder {
    font-size: 14px;
    color: #000000;
    line-height: normal;
    font-weight: 500;
  }
}

.donate__input:focus {
  border-color: rgb(15, 114, 220);
  outline: none;
}

.donate__button {
  font-size: 20px;
  color: #ffffff;
  line-height: normal;
  font-weight: 500;
  height: 53px;
  background-color: #005695;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  width: 100%;
  max-width: 195px;
  margin: 23px auto 0 auto;
  transition: background-color 0.3s ease;

  @media (max-width: 800px) {
    height: 44px;
    max-width: 137px;
    margin: 12px auto 0 auto;
  }
}

.donate__message {
  font-size: 14px;
  color: #000000;
  line-height: normal;
  font-weight: 500;
  text-align: center;
}
