.header {
  background: linear-gradient(90deg, #001b2f, #005695);
  padding: 27px 20px 49px 20px;
  position: sticky;
  top: 0;

  @media (max-width: 1145px) {
    padding: 25px 20px 12px 20px;
  }
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1440px;
  margin: 0 auto;

  @media (max-width: 1145px) {
    flex-direction: column;
    justify-content: center;
    gap: 24px;
  }
}

.header__logo img {
  height: 60px;

  @media (max-width: 1145px) {
    height: 40px;
  }
}

.header__nav {
  .header__list {
    list-style: none;
    display: flex;
    gap: 60px;

    @media (max-width: 1145px) {
      gap: 18px;
    }
  }

  .header__item a {
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    line-height: normal;
    font-weight: 500;
  }
}

.header__search {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  padding: 14px 15px 14px 34px;
  border-radius: 16px;
  border: 1px solid #fff;
  max-width: 300px;
  gap: 30px;
  width: 100%;

  @media (max-width: 1145px) {
    display: none;
  }
}

.header__input {
  border: none;
  background: transparent;
  font-size: 20px;
  line-height: normal;
  font-weight: 500;
  outline: none;
  color: #fff;
  max-width: 100%;
  width: inherit;

  &::placeholder {
    font-size: 20px;
    line-height: normal;
    font-weight: 500;
    color: #fff;
  }
}

.header__button {
  background: transparent;
  color: #fff;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
